ul.landing-list {
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 0;

  li {
    margin-bottom: 0;
    list-style: none;

    strong {
      font-weight: 600;
    }

    span {
      padding-left: 8px;
    }
  }
}
