<%= render partial: '/shared/registration_header' %>

<h2>Data Management Plan</h2>
<div class="c-intro">Tell us about your plan for managing your research outputs:</div>
<div class="c-required">required fields</div>
