<%= render partial: '/data_management_plan/header' %>

<%= form_with model: @dmp, url: data_management_plan_index_path do |f| %>
  <div class="t-step__fields">
    <%= render partial: '/data_management_plan/form',
               locals: { form: f, data_management_plan: @dmp } %>
  </div>
<% end %>

<%= render partial: '/data_management_plan/footer',
           locals: { data_management_plan: @dmp } %>
