// ***** Accordion Component ***** //
.c-accordion {
  margin-block-end: $space3;
}

.c-accordion details {
  margin-block-end: -1px;
}

.c-accordion summary {
  padding: $space1 $space1 $space1 1.8rem;
  border: 1px solid $color-gray;
  background-image: url('caret-right.svg' param(--color #{$color-green}));
  background-repeat: no-repeat;
  background-position: left 0.7rem center;
  background-size: 0.9em;
  list-style: none; // Firefox
  cursor: pointer;
  user-select: none;

  &::-webkit-details-marker {
    display: none; // Chrome & Safari
  }
}

.c-accordion [open] summary {
  background-image: url('caret-down.svg' param(--color #{$color-green}));
  background-position: left 0.2rem center;
  background-size: 1.4em;
}

.c-accordion__section {
  margin-block: $space2;
  margin-inline-start: 1.8rem;
}
