// ***** Body Element ***** //

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: $space2;
  font-family: 'Roboto Condensed', Arial, sans-serif; // 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  line-height: $line-height0;
  color: $color-black;
}
