// ***** Field Group Component ***** //

.c-fieldgroup {
  display: grid;
  grid-gap: $space3 $space1;
  grid-template-columns: auto auto 1fr;
  padding: $space3;
  border: 1px dotted $color-gray;
  margin-block-start: 0.9rem; // extra room for inner label
  justify-items: start;

  > * {
    grid-column: 2 / 4;
  }

  &__label {
    @include u-form-label;
    grid-column: 1 / 4;
    background-color: $color-white;
    margin-block-start: -1.8rem;
    padding-inline: 0.4rem;
  }
}

label + .c-fieldgroup {
  margin-block-start: 0; // assuming <label> is taking place of fieldgroup label, so no inner label space applied
}
