// ***** Heading Elements ***** //

// <h1> is not styled because it's reserved for use in .c-header and hidden

h1 {
  color: rgb(153, 115, 0); // $color-blue;
  font-size: 2em;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  color: $color-green;
  font-size: 2em;
  font-weight: 400;
}

h3 {
  color: rgb(153, 115, 0); // $color-blue;
  font-size: 1.3rem;
  font-weight: 400;
}

h4 {
  color: $color-green;
  font-size: 1.3em;
  font-weight: 400;
}
