// ***** Heading Elements ***** //

// <h1> is not styled because it's reserved for use in .c-header and hidden

h2 {
  color: $color-orange;
  font-size: 2em;
  font-weight: 400;
}

h3 {
  color: $color-blue;
  font-size: 1.3rem;
  font-weight: 400;
}
