// ***** Variables ***** //

// Colors:

$color-black: rgb(0, 0, 0);
$color-blue: rgb(14, 86, 130);
$color-gray: rgb(170, 170, 170);
$color-green: rgb(14, 130, 86);
$color-red: rgb(255, 0, 0);
$color-white: rgb(255, 255, 255);

// Spacing:

$space1: 0.3rem;
$space2: ($space1 * 2);
$space3: ($space2 * 2);

// General:

$line-height0: 1.1;
$line-height1: 1.3;
