<%# locals: dmp %>

<ul class="landing-list published-works">
  <li class="margin10"><strong>When citing this DMP use:</strong><br><%= sanitize(citation(dmp: dmp)) %></li>

  <li>
    <strong>When connecting to this DMP to related project outputs (such as datasets) use the ID:</strong><br>
    <%= identifier_to_link(identifier: dmp.doi) %>
  </li>
</ul>
