<%# locals: contributor %>

<% orcid = contributor.orcids.first %>

<li><strong>Name:</strong> <%= contributor.name %></li>

<% if orcid.present? %>
  <li><%= identifier_to_link(identifier: orcid) %></li>
<% end %>

<% if contributor.affiliation.present? %>
  <li>
    <strong>Affiliation:</strong>
    <%= render partial: '/landing/affiliation',
               locals: { affiliation: contributor.affiliation } %>
  </li>
<% end %>
