<%# locals: primary_contact, cdmps %>

<% contributor_hashes = LandingPresenter.contributors_with_roles(contributors_data_management_plans: cdmps) %>
<% if contributor_hashes.any? %>
  <ul class="landing-list">
    <% contributor_hashes.each do |hash| %>
      <% contrib = hash[:contributor] %>
      <li>
        <strong><%= contrib.name %></strong>:
        <%
        affil = contrib.affiliation
        ror = identifier_to_url(identifier: affil&.rors&.last)
        orcid = identifier_to_url(identifier: contrib.orcids.last)
        entries = [
          hash[:roles].map { |role| role_to_link(role: role) }.compact.uniq.sort { |a, b| a <=> b }.join(', '),
          ror.present? && ror.start_with?('http') ? "<a href=\"ror\" target=\"_blank\">#{affil&.name}</a>" : ror,
          orcid.present? && orcid.start_with?('http') ? "<a href=\"orcid\" target=\"_blank\" class=\"c-orcid\">#{orcid_without_url(value: orcid)}</a>" : orcid
        ].compact
        %>
        <span><%= entries.join(',</span><span>').html_safe %></span>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No contributors defined</p>
<% end %>
