<%# locals: datasets %>

<% datasets.each do |dataset| %>
  <h4><%= dataset.title %></h4>
  <p><%= dataset.description %></p>
  <ul class="landing-list">
    <li><strong>Format:</strong><span><%= humanize_underscored(name: dataset.dataset_type) %></span></li>
    <li><strong>Anticipated volume:</strong><span>unknown</span></li>
    <li><strong>Release timeline:</strong><span>unknown</span></li>
    <li><strong>Intended repository:</strong><span>unknown</span></li>
    <li><strong>License for reuse:</strong><span>unknown</span></li>
  </ul>
<% end %>
