<%# locals: fundings %>

<% if fundings.any? %>
  <ul class="landing-list">
    <% fundings.each do |funding| %>
      <%
      grant = funding.urls.last&.value
      fundref = funding.affiliation.fundrefs.last
      %>
      <ul class="landing-list">
        <li><strong>Status</strong>:<span><%= humanize_underscored(name: funding.status) %></span></li>
        <li><strong>Funder</strong>:<span><%= (fundref.present? ? link_to(funding.affiliation.name, fundref.value) : funding.affiliation.name) %></span></li>
        <li><strong>Grant URL</strong>:<span><%= link_to(grant, grant)%></span></li>
      </ul>
    <% end %>
  </ul>
<% end %>
