<%# locals: fundings %>

<% if fundings.any? %>
  <ul class="landing-list">
    <% fundings.each do |funding| %>
      <%
      grant = funding.urls.last
      fundref = funding.affiliation.fundrefs.last
      %>
      <ul class="landing-list">
        <li><strong>Status</strong>:<span><%= humanize_underscored(name: funding.status) %></span></li>
        <li><strong>Funder</strong>:<span><%= (fundref.present? ? identifier_to_link(identifier: fundref, text: funding.affiliation.name) : funding.affiliation.name) %></span></li>
        <li><strong>Grant URL</strong>:<span><%= grant.present? ? identifier_to_link(identifier: grant) : ''%></span></li>
      </ul>
    <% end %>
  </ul>
<% end %>
