<%# locals: fundings %>

<% if fundings.any? %>
  <details>
    <summary>Funding</summary>

    <div class="c-accordion__section">
      <ul>
        <% fundings.each do |funding| %>
          <% grant = funding.urls.last&.value %>
          <% ror = funding.affiliation.rors.first %>

          <li><strong>Status:</strong> <%= humanize_underscored(name: funding.status) %></li>
          <li><strong>Agency:</strong> <%= ror.present? ? link_to(funding.affiliation.name, ror.value) : funding.affiliation.name %></li>

          <% if grant.present? %>
            <li><strong>Award:</strong> <%= link_to grant, grant %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </details>
<% end %>
