<%# locals: identifier %>

<li>
  <strong><%= humanize_underscored(name: identifier.category).upcase %>:</strong>
  <% descriptor = identifier.descriptor&.split('_')&.map { |w| w.capitalize }&.join(' ') %>
  <%= descriptor %> - <%= identifier_to_link(identifier: identifier) %>
</li>
