<%# locals: licenses %>

<% if licenses.any? %>
  <h6>Licenses</h6>

  <ul>
    <% licenses.each do |license| %>
      <li><strong>Effective date: <%= safe_date(date: license.start_date) %></strong> <%= identifier_to_link(identifier: license.license_ref, text: license.display_name) %></li>
    <% end %>
  </ul>
<% end %>
