<%# locals: publications, datasets %>

<% if publications.any? %>
  <h4>Articles</h4>
  <ul class="landing-list published-works">
    <% publications.each do |publication| %>
      <li><%= publication.citation.citation_text.html_safe %></li>
    <% end %>
  </ul>
<% end %>

<% if datasets.any? %>
  <h4>Datasets</h4>
  <ul class="landing-list published-works">
    <% datasets.each do |dataset| %>
      <li><%= dataset.citation.citation_text.html_safe %></li>
    <% end %>
  </ul>
<% end %>
