<%# locals: contributors_data_management_plans %>

<% roles = contributors_data_management_plans.select { |cdmp| cdmp.role != 'primary_contact' }
                                             .map { |cdmp| cdmp.role }.uniq %>
<% roles.sort { |a, b| a<=>b }.each do |role| %>
  <li>
    <strong><%= humanize_underscored(name: role).pluralize %>:</strong>
    <% contributors_data_management_plans.select { |cdmp| cdmp.role == role }.each do |cdmp| %>
      <ul>
        <%= render partial: '/landing/contributor', locals: { contributor: cdmp.contributor } %>
      </ul>
    <% end %>
  </li>
<% end %>
