<%# locals: persons %>

<details>
  <summary>Staff</summary>

  <div class="c-accordion__section">
    <ul>
      <%= render partial: '/landing/roles',
                 locals: { person_data_management_plans: persons } %>
    </ul>
  </div>
</details>
