<%# locals: dataset %>

<% resources = dataset.technical_resources %>
<% if resources.any? %>
  <h5>Technical Resources</h5>

  <% resources.each do |resource| %>
    <% identifier = resource.identifiers.first %>
    <p><strong><%= humanize_underscored(name: identifier.category) %></strong> <%= identifier.value %></p>
    <p><%= resource.description %></p>
  <% end %>
<% end %>
