<h1>Dashboard</h1>

<p>Welcome back <%= current_user.name %></p>

<%= link_to 'Register a Data Management Plan', new_project_path %>

<h2>My Data Management Plans</h2>

<% if @data_management_plans.present? %>
  <%= render partial: '/data_management_plan/index', locals: { data_management_plans: @data_management_plans } %>
<% else %>
  <p>You have no data management plans. Register a plan by clicking the button above.</p>
<% end %>

<% if current_user.super_user? %>
  <h2>Other Data Management Plans</h2>

  <% if @other_plans.present? %>
    <%= render partial: '/data_management_plan/index', locals: { data_management_plans: @other_plans } %>
  <% end %>
<% end %>