<h1>Frequently Asked Questions</h1>

<h2>What is the DMPHub?</h2>
<p>The DMPHub was built to mint DOIs for DMPs created via the DMPTool and to record updates to the DOIs that occur over time. For example, as a project progresses the DOI record would include related identifiers for datasets and/or journal articles connected to a DMP.</p>
<p>Although the system can be thought of as a giant API, pulling and pushing data from various sources, we have also built a landing page for these DOIs in order to visually demonstrate the types of connections made possible by tracking a research project over time from the point of DMP creation.</p>
<p>This project is funded by an EAGER grant from the NSF. To read more about this work and track future developments please see the DMPTool blog series about machine-actionable DMPs. For those that would like a more technical view into this work, please check out our DMPHub GitHub.</p>

<h2>How do I get a DOI for my DMP?</h2>
<p>Anyone can receive a DOI for their DMP via the DMPTool. For a user to generate a DOI they are required to complete at least 50% of the questions within the DMP template and enter their ORCiD. There is a tab in the Create Plan module called “Finalise/Publish” within this tab users can set the visibility of the DMP and “Register” their plan by generating a DOI. The DOI will then display within the tool and link to a landing page for the identifier. For more information on this feature please see our user documentation [LINK].</p>

<h2>Why should I get a DOI for my DMP?</h2>
<p>Receiving a DOI for a DMP allows information within a DMP to be fed across stakeholders, linking metadata, repositories and institutions, and allowing for notifications and verification, reporting in real-time. A key goal of this new system is to reduce the burden on researchers by generating automated updates to a plan and facilitating seamless integration with systems and groups that support research.</p>
<p>This practice was recently recommended for all researchers by the NSF in their May 2019 Dear Colleague Letter: Effective Practices for Data.</p>

<h2>I have an idea, how can I get involved?</h2>
<p>We would love to hear from you! Please get in touch with any ideas or feedback.</p>
<p>Can't find what you’re looking for? Contact us</p>
