<% if @data_management_plans.present? %>
  <% payload = escape_javascript(
      render partial: '/data_management_plans/index',
      locals: {
        data_management_plans: @data_management_plans,
        sort_col: @sort_col,
        sort_dir: @sort_dir,
        search_words: @search_words
      }
  ) %>
  $('.data-management-plans-table').replaceWith("<%= payload %>");

<% else %>
  $('.data-management-plans-table').replaceWith(
    "<p>Something went wrong and we were unable to sort the items. Try refreshing the page. :/</p>"
  );
<% end %>
