/* locals: award */
const html = `
  <div id="award-${@award.id}" class="c-accordion">
      <details>
        <summary>${@award.funder_name} - ${@award.status}</summary>
        <div class="c-accordion__section">
          ${render partial: '/shared/form_wrapper',
                   locals: { model: @award,
                             path: award_path(@award),
                             http_method: 'put',
                             form_partial: '/awards/form',
                             autosave: true
                           }
          }
        </div>
      </details>
    </div>
`

$('body c-accordion:last-child').after(html);
