const html = `
  <div id="new-award" class="c-accordion">
      <details>
        <summary>New Funding</summary>
        <div class="c-accordion__section">
          ${render partial: '/shared/form_wrapper',
                   locals: { model: @award,
                             path: awards_path,
                             http_method: 'post',
                             form_partial: '/awards/form',
                             autosave: true
                           }
          }
        </div>
      </details>
    </div>
`

$('body c-accordion:last-child').after(html);
