<h2>Project</h2>
<div class="c-intro">Tell us about your research project:</div>

<%= render partial: '/shared/form_wrapper',
           locals: { model: @project,
                     path: projects_path,
                     method: :post,
                     form_partial: '/projects/form'
                   } %>
