<footer class="c-footer">
  <nav></nav>

  <p>This product is a service of the <a href="https://www.cdlib.org/uc3/">University of California Curation Center</a> of the <a href="http://www.cdlib.org">California Digital Library.</a></p>
  <p>Copyright 2010-<%= Time.now.year.to_s %> The Regents of the University of California.</p>
</footer>
